exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(LMS)
export(akm.connected_set)
export(akm.subset_unique_movers)
export(akm.weighted_mean)
export(akm.zig_zag)
export(lms.block_sample)
export(check.frame)
export(computeDistanceToSpellEnd)
export(computeSpellID)
export(computeSpellTime)
export(get_sample_info)
export(lms.application.blm.subsample)
export(lms.check_Gjx)
export(lms.fe.akm)
export(lms.fe.akm.decomp)
export(lms.fe.akm.post_estimation)
export(lms.fe.akm.subsample)
export(lms.fe.blm)
export(lms.fe.blm.decomp)
export(lms.fe.blm.post_estimation)
export(lms.fe.cluster_markets)
export(lms.model)
export(lms.model.G)
export(lms.model.decomp)
export(lms.model.extract_ct_moments)
export(lms.model.get_Gjx)
export(lms.model.h_fit_grid)
export(lms.model.market_decomp)
export(lms.model.prepare)
export(lms.model.size_fit_grid)
export(lms.model.solve_Hj)
export(lms.model.solve_theta_ct)
export(lms.model_moments)
export(lms.passthrough)
export(lms.passthrough.collect_IV)
export(lms.passthrough.collect_diffInDiffs)
export(lms.passthrough.collect_params)
export(lms.passthrough.cov)
export(lms.passthrough.covmat_IV)
export(lms.passthrough.covmat_events)
export(lms.passthrough.diffInDiffs_binarize)
export(lms.passthrough.reshape_longToWide)
export(lms.passthrough.reshape_longToWide_shift)
export(lms.passthrough.reshape_wideToLong)
export(lms.passthrough.reshape_wideToLong_melt)
export(lms.passthrough.select_countPerGroup_wide)
export(lms.passthrough.select_groupCount)
export(lms.passthrough.select_init)
export(lms.passthrough.select_nonmissing_wide)
export(lms.passthrough.select_stayers)
export(lms.passthrough.select_stayers_wide)
export(lms.passthrough.select_unitCount)
export(lms.passthrough.transform_detrendMarkets)
export(lms.passthrough.transform_difference_wide)
export(lms.passthrough.transform_residualize)
export(lms.passthrough.transform_residualize_lmfit)
